<!DOCTYPE html>
<html>
    <body>
        <link rel="stylesheet" href="style.css" />
        <p>HTML이란?</p>
        <br>
        <p>body tag의 종류</p>
        <hr>
        <blockquote>줄바꿈, 수평줄, 들여쓰기 인용문</blockquote>
        <form action = '/second' method = "POST">
            <input type = 'text' placeholder ="ID" name ="id">
            <input type = 'password' placeholder ="Password" name ="password">
            <input type =submit>
        </form>
        <a href="/second"> 세컨드로 이동</a>
</html>