<!DOCTYPE html>
<html>
    <body>
        <link rel="stylesheet" href="style.css" />
        <p>Node.js로 웹 페이지 만들기</p>
        <br>
        <p>아주 간단</p>
        <hr>
        <a href="/second" method ="POST"> 세컨드로 이동</a>
</html>