<!DOCTYPE html>
<html>
    <head>

    </head>
        <body>
            <ul>
                <li>ㅇㅇ</li>
                <li>ㅋㅋ</li>
            </ul>
            <button onclick="move()">이동</button>
            <button onclick="popup()">popup</button>
        </body>
</html>