<!DOCTYPE html>
<html>
    <head>
        <script>
            function login(){
                location.href ="/login";
            }; 
        </script>
        <title>Sign Page</title>
    </head>
    <body>
        <form action="/signup_1" method = "post">
            <input type ="text" name ="post_id" placeholder="ID">
            <input type ="text" name ="name" placeholder="NAME">
            <input type ="text" name ="password" placeholder="PASSWORD">
            <input type ="text" name ="division" placeholder="DIVISION">
            <input type ="number" name ="linkcode" placeholder="LINKCODE">
            <input type ="submit" value='signup'>
            <button type = "button" onclick = "login()">login</button>
        </form>
    </body>

</html>